@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

:root {
    --color-yellow: #FFFF00;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --font-Mont: 'Montserrat';
}

body {
    background-color: var(--color-black);
}

/* бургер */

.offset{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-black);
    z-index: 1000;
}

.offset ul {
    padding: 60px 0 0 0;
    display: grid;
    row-gap: 20px;
    justify-items: center;
    list-style-type: none;
    color: var(--color-white);
}

.offset ul a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-Mont);
    font-size: 20px;
    font-weight: 500;
}

.offset ul a:hover {
    color: var(--color-dark-primary);
}

.offset nav {
    display: grid;
    grid-template-rows: 44px 1fr;
}

.offset nav svg {
    color: var(--color-white);
    width: 22px;
    height: 22px;
    justify-self: end;
    margin: 22px 5px 0 0;
}

/* меню */

header article.header {
    padding: 10px 250px;
    display: flex;
    column-gap: 60px;
    align-items: center;
    border-bottom: 2px solid var(--color-yellow);
}

header article.header svg.miniLogo, header article.header svg#burger {
    display: none;
}

header article.header nav ul {
    display: flex;
    list-style-type: none;
    column-gap: 130px;
}

header article.header nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-Mont);
    font-size: 16px;
    font-weight: 500;
}

header article.header div {
    display: flex;
    align-self: center;
    align-items: center;
}

header article.header div a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-Mont);
}

/* header article {
    padding: 10px 250px;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    column-gap: 60px;
    align-items: center;
    border-bottom: 2px solid var(--color-yellow);
}

header article #logo {
    justify-self: start;
}

header article nav ul {
    display: flex;
    justify-self: center;
    column-gap: 130px;
}

header article nav ul li a {
    text-decoration: none;
}

header article nav ul li a {
    font-family: var(--font-Mont);
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    color: var(--color-white);
}

header article div {
    font-family: var(--font-Mont);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-self: end;
    color: var(--color-white);
}

header article div a {
    text-decoration: none;
    color: var(--color-white);
}

header article svg.miniLogo {
    display: none;
}

header article svg#burger {
    color: var(--color-white);
    width: 20px;
    display: none;
} */

/* кнопки */

main section.brands div article.rightImage div a::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
    bottom: 50px;
    border-width: 0 0 80px 80px;
    border-color: var(--color-black) var(--color-black) var(--color-yellow) var(--color-black);
}

main section.brands div article.rightImage div a::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
    top: 50px;
    border-width: 80px 80px 0 0;
    border-color: var(--color-yellow) var(--color-black) var(--color-black)  var(--color-black);
}

main section.brands div article.leftImage div a::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
    bottom: 50px;
    border-width: 0 0 80px 80px;
    border-color: var(--color-black) var(--color-black) var(--color-yellow) var(--color-black);
}

main section.brands div article.leftImage div a::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
    top: 50px;
    border-width: 80px 80px 0 0;
    border-color: var(--color-yellow) var(--color-black) var(--color-black)  var(--color-black);
}

main section.brands div article.rightImage a {
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
    background-color: var(--color-yellow);
    padding-top: 6px;
    padding-bottom: 6px;
    align-self: end;
    justify-self: start;
    font-family: var(--font-Mont);
    font-size: 14px;
    font-weight: 400;
}

main section.brands div article.leftImage a {
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
    background-color: var(--color-yellow);
    padding-top: 6px;
    padding-bottom: 6px;
    align-self: end;
    justify-self: start;
    font-family: var(--font-Mont);
    font-size: 14px;
    font-weight: 400;
}

main section.brands div article.rightImage a::before {
    content: '';
    position: relative;
    bottom: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: var(--color-black) var(--color-black) var(--color-yellow) var(--color-black);
}

main section.brands div article.leftImage a::before {
    content: '';
    position: relative;
    bottom: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: var(--color-black) var(--color-black) var(--color-yellow) var(--color-black);
}

main section.brands div article.rightImage a::after {
    content: '';
    position: relative;
    bottom: -24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: var(--color-yellow) var(--color-black) var(--color-black) var(--color-black);
}

main section.brands div article.leftImage a::after {
    content: '';
    position: relative;
    bottom: -24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: var(--color-yellow) var(--color-black) var(--color-black) var(--color-black);
}

main section.obratka a.minisend {
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
    background-color: var(--color-yellow);
    padding-top: 6px;
    padding-bottom: 6px;
    align-self: end;
    justify-self: start;
    font-family: var(--font-Mont);
    font-size: 14px;
    font-weight: 400;
}

main section.obratka a.minisend::before {
    content: '';
    position: relative;
    bottom: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: var(--color-black) var(--color-black) var(--color-yellow) var(--color-black);
}

main section.obratka a.minisend::after {
    content: '';
    position: relative;
    bottom: -24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: var(--color-yellow) var(--color-black) var(--color-black) var(--color-black);
}

/* секция слайдера */

header article.footer {
    height: 800px;
}

header article.footer div img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    opacity: 30%;
}

header article.footer svg#right {
    opacity: 50%;
    color: var(--color-white);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 370px;
    right: 250px;
    z-index: 1;
}
header article.footer svg#left {
    opacity: 50%;
    color: var(--color-white);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 370px;
    left: 250px;
    z-index: 1;
}

header article.footer span {
    font-family: var(--font-Mont);
    font-size: 40px;
    font-weight: 700;
    color: var(--color-white);
    display: block;
    width: 31%;
    position: relative;
    bottom: 215px;
    left: 310px;
}

/* секция с брендами */

.miniBrand {
    display: none;
}

main section.brands {
    padding: 100px 250px;
}

main section.brands h2 {
    color: var(--color-white);
    display: grid;
    justify-items: center;
    padding-bottom: 80px;
    font-family: var(--font-Mont);
    font-size: 40px;
    font-weight: 700;
}

main section.brands>div {
    display: grid;
    row-gap: 60px
}

/* .rightImage */

main section.brands div article.rightImage>a {
    display: none;
}

main section.brands div article.rightImage {
    color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    padding-bottom: 60px;
    border-bottom: 2px solid var(--color-yellow);
}

main section.brands div article.rightImage div {
    display: grid;
}

main section.brands div article.rightImage div p {
    font-family: var(--font-Mont);
    font-size: 20px;
    font-weight: 400;
    padding: 2px 4px 0 0;
}

main section.brands div article.rightImage div a {
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-Mont);
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    align-self: end;
    justify-self: end;
    background-color: var(--color-yellow);
    position: absolute;
} 

/* .leftImage */

main section.brands div article.leftImage>a {
    display: none;
}

main section.brands div article.leftImage {
    color: var(--color-white);
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    padding-bottom: 60px;
    border-bottom: 2px solid var(--color-yellow);
}

main section.brands div article.leftImage svg {
    grid-column: 2/3;
}

main section.brands div article.leftImage div {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}

main section.brands div article.leftImage div p {
    font-family: var(--font-Mont);
    font-size: 20px;
    font-weight: 400;
    padding: 2px 4px 0 0;
}

main section.brands div article.leftImage div a {
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-Mont);
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    align-self: end;
    justify-self: start;
    background-color: var(--color-yellow);
    position: absolute;
}

/* .news */

main section.news {
    padding: 0 250px;
}

main section.news h2 {
    display: grid;
    justify-items: center;
    color: var(--color-white);
    font-family: var(--font-Mont);
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 80px;
}

main section.news div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    border-bottom: 2px solid var(--color-yellow);
    padding: 0 0 60px 0;
}

main section.news article a {
    text-decoration: none;
    color: var(--color-white);
}

main section.news article a p {
    margin: 0 auto;
    font-family: var(--font-Mont);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

/* .obratka */

main section.obratka {
    display: grid;
    justify-items: center;
    padding: 100px 0;
}

main section.obratka h2 {
    font-family: var(--font-Mont);
    font-size: 40px;
    font-weight: 700;
    color: var(--color-white);
    padding: 0 190px 80px 190px;
    border-bottom: 2px solid var(--color-yellow);
    margin-bottom: 40px;
}

main section.obratka form {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
}

main section.obratka form input, textarea {
    background-color: var(--color-black);
    color: var(--color-white);
    resize: none;
    border: none;
    border-bottom: 2px solid var(--color-yellow);
    font-family: var(--font-Mont);
    font-size: 20px;
    font-weight: 400;
}

main section.obratka form textarea {
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-Mont);
    font-size: 20px;
    font-weight: 400;
}

main section.obratka form input::placeholder {
    color: var(--color-white);
    text-align: center;
}

main section.obratka a.minisend {
    display: none;
}

main section.obratka a.bigsend {
    margin-top: 40px;
    text-decoration: none;
    font-family: var(--font-Mont);
    font-size: 20px;
    font-weight: 400;
    color: var(--color-black);
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--color-yellow);
}

main section.obratka a.bigsend::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
    bottom: 32px;
    border-width: 0 0 40px 40px;
    border-color:  var(--color-black) var(--color-black) var(--color-yellow) var(--color-black);
}

main section.obratka a.bigsend::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
    top: 32px;
    border-width: 40px 40px 0 0;
    border-color: var(--color-yellow) var(--color-black) var(--color-black)  var(--color-black);
}

/* footer */

body>footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 250px;
    align-items: center;
    border-top: 2px solid var(--color-yellow);
}

.miniLogo {
    display: none;
}

footer div.contacts {
    color: var(--color-white);
    display: grid;
    row-gap: 10px;
    justify-items: center;
    justify-self: center;
    font-family: var(--font-Mont);
    font-size: 16px;
    font-weight: 500;
}

body>footer>div {
    display: flex;
    justify-self: end;
    column-gap: 20px;
}

.miniNews {
    display: none;
}

@media screen and (max-width:390px) {
    header article.header svg:nth-child(2) {
        display: block;
    }
    header article.header svg#logo, header article.header nav {
        display: none;
    } 
    header article.header svg.miniLogo, header article.header svg#burger {
        display: block;
    }
    header article.header svg#burger {
        grid-column: 3/4;
    }
    header article.header div {
        grid-row: 1/2;
        grid-column: 2/3;
        justify-items: end;
    }
    header article.header {
        padding: 15px 3px;
        display: grid;
        grid-template-columns: 1fr 1fr 25px;
    }
    header article.footer {
        width: 100%;
        height: 225px;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        border: none;
    }
    header article.footer div {
        height: 225px;
    }
    header article.footer div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 30%;
    }
    header article.footer span {
        font-family: var(--font-Mont);
        font-size: 16px;
        font-weight: 700;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 61%;
    }
    header article.footer svg#right {
        padding: 15px;
        position: absolute;
        right: 5px;
        top: 150px;
    }
    header article.footer svg#left {
        padding: 15px;
        position: absolute;
        left: 5px;
        top: 150px;
    }
    main section.brands {
        padding: 20px 0 0 0;
        width: 100%;
        border-top: 2px solid var(--color-yellow);
    }
    main section.brands>div {
        row-gap: 20px;
    }
    main section.brands h2 {
        font-family: var(--font-Mont);
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 10px;
    }
    main section.brands div article.rightImage svg, main section.brands div article.rightImage p, 
    main section.brands div article.rightImage div a.pipi {
        display: none;
    }
    main section.brands div article.leftImage svg, main section.brands div article.leftImage p, 
    main section.brands div article.leftImage div a.pipi {
        display: none;
    }
    main section.brands div article.leftImage svg.miniBrand, main section.brands div article.leftImage>a, 
    main section.brands div article.rightImage>a, main section.brands div article.rightImage svg.miniBrand, 
    main section.obratka a.minisend, .miniLogo {
        display: block;
    }
    main section.brands div article.rightImage{
        padding-bottom: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    main section.brands div article.leftImage{
        padding-bottom: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    main section.brands div article.leftImage{
        padding-bottom: 10px;
    }
    main section.brands div article.rightImage a {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
    }
    main section.brands div article.leftImage a {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
    }
    main section.news {
        padding: 0;
    }
    main section.news h2 {
        font-size: 18px;
        padding: 30px 0 5px 10px;
    }
    main section.news div{
        padding: 10px 20px 20px 20px;
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
    main section.news div {
        border: none;
    }
    main section.news div article {
        border-bottom: 2px solid var(--color-yellow);
    }
    main section.news div article a {
        display: grid;
        padding: 0;
        grid-template-columns: 1fr 2fr;
        padding-bottom: 5px;
        align-items: center;
    }
    main section.news div article a .miniNews {
        display: block;
        grid-column: 1/2;
    }
    main section.news div article a .bigNews {
        display: none;
    }
    main section.news div article a p {
        font-size: 16px;
        font-weight: 400;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    main section.obratka {
        padding: 0;
        display: grid;
        justify-items: center;
    }
    main section.obratka h2 {
        font-size: 18px;
        font-weight: 700;
        justify-self: center;
        padding: 0 88px 0px 88px;
        border: none;
        margin-bottom: 0;
        padding: 0px 0 5px 10px;
    }
    main section.obratka form {
        padding-top: 0px;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    main section.obratka form input {
        padding: 0;
    }
    main section.obratka form input::placeholder, main section.obratka form textarea {
        font-size: 16px;
        font-weight: 400;
    }
    main section.obratka a.bigsend {
        display: none;
    }
    main section.obratka a.minisend {
        margin-top: 18px;
        justify-self: center;
    }
    body>footer {
        padding: 10px 15px 10px 15px;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
    }
    body>footer>svg:nth-child(1), body>footer div.contacts {
        display: none;
    }
    body>footer>svg {
        justify-self: center;
    }
}